@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Anonymous+Pro&family=Inconsolata:wght@600&family=Nunito+Sans:wght@300;400;600&family=Pacifico&family=Poppins&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Puddles&display=swap');

#main{
    background: url(logo1.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;

}
header{
    display:flex;
    justify-content: center;
    margin:0 0 150px;
}
header>img{
    width: 350px;
    height: 150px;
}
#a{
    font-family: 'Press Start 2P', cursive;
    margin: 0 0 5%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    text-decoration:none;
    font-size:40px;
    color:rgb(103, 102, 102);


}
#back{
    position:fixed;
    left:0;
    top:0;
    display:block;
    text-decoration: none;
    color:rgb(195, 195, 195);
    font-size:35px;
    
    margin:1% 0 0 2%;
}
.lore_main{
    background: url(logo2.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;

}
.lore_article{
    border-radius: 15px;
    margin: 0 18%;
    background-color: white;

}
.img_lore{
    text-align: center;
}
.p{
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 25px;

}
#menu{
    background: url(menu_back.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
#facts{
    background: url(facts_back.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;
}
.menu_article{
    background-color: white;
    border-radius: 15px;
    margin:5px;
    
    margin:0 18%;
}
h1{
    text-align: center;
    font-size: 35px;
    color:#111111;
    background-color: #CEEFC5;
}
h2{
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
}
h3{
    font-family: 'Anonymous Pro', monospace;
    font-size: 25px;
    text-align: center;
    background-color: #E0E0E0;
}
ul>*{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
ol>*{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
#p{
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
    background-color: rgb(243, 181, 191);
    border-radius: 10px;
    margin:2% 5% 2%;
    text-align: center;

}
#p1{
    text-align: center;
}
.pustota{
    margin:7%;
}
.p1{
    font-family: 'Inconsolata', monospace;
    text-align: center;
    font-size: 18px;
}
.facts_article{
    background-color: white;
    border-radius: 15px;
    margin:5px;
    margin:0 10%;
}
.h1{
    text-align: left;
    font-size: 35px;
    color:rgb(71, 71, 71);
    background-color: white;
}
#mods{
    background: url(mods_back.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed;

}
.p_mods{
    display: inline-block;
    font-family: 'Inconsolata', monospace;
    text-align: left;
    font-size: 20px;
    margin:0 2% 0 2%;
}
.img{
    text-align: center;
}
.a{
    border-radius: 5px;
    display: inline;
    font-size: 18px;
    text-decoration: none;
    color: #111111;
    background-color: bisque;
}
#p_a{
    text-align: center;
}
